/**
 * Stylesheet.css
 *
 * @author Elias Marold, 01425778
 */

body {
    font: 12px sans-serif;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-size: 3em;
    margin-top: 1em;
    line-height: 0em;
    font-weight: lighter;
    text-align: center;
    color: black;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: lighter;
    text-align: center;
    color: lightgrey;
}

#pc {
    position: relative;
}

#root {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 50%;
    right: 50%;
    top: 15%;
    margin: 0 0 0 -500px;
}

#table_div {
    position: relative;
    float: bottom;
    width: 1000px;
    height: 300px;
 }

table {
    color: black;
    font-size: 1.5em;
}

th {
    color: white;
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
}

td {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
}

g {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: green;
}

.polyline path {
    fill: none;
    stroke: black;
}

div.tooltip {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 2em;
    background: lightsteelblue;
    opacity: 1;
    pointer-events: none;
}

.names {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 1em;
    margin-top: 0.2em;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    position: absolute;
    top: 5%;
    left: 90%;
    padding-right: 1em;
    padding-bottom: 1em;
    width: 100px;
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

.select {
    width: 100px;
}

.fieldset-auto-width {
    display: inline;
    float: right;
}

.form {
    width: 100px;
}

.axis line,
.axis path {
    fill: none;
    stroke: lightgray;
    shape-rendering: crispEdges;
}

.axis text {
    fill: grey;
}

fieldset {
    border-width: 0;
}