/**
 * Stylesheet.css
 *
 * @author Elias Marold, 01425778
 */

body {
    font: 12px sans-serif;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-size: 3em;
    margin-top: 1em;
    line-height: 0em;
    font-weight: lighter;
    text-align: center;
    color: black;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: lighter;
    text-align: center;
    color: lightgrey;
}

#pc {
    position: relative;
    float: left;
}

#root {
    position: absolute;
    width: 1100px;
    height: 500px;
    left: 50%;
    right: 50%;
    top: 15%;
    margin: 0 0 0 -550px;
}

#names_div {
    position: relative;
    float: right;
    width: 100px;
    height: 500px;
 }

#placeholder {
    position: relative;
    float: right;
    float: top;
    width: 100px;
    height: 20px;
}

g {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: green;
}

.polyline path {
    fill: none;
    stroke: black;
}

div.tooltip {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 2em;
    background: lightsteelblue;
    opacity: 1;
    pointer-events: none;
}

.names {
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    margin-top: 0.2em;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    position: absolute;
    width: 300px;
    top: 85%;
    left: 50%;
    margin: 0 0 0 -150px;
    font-family: "Helvetica Neue", Helvetica, "Arial", Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

.select {
    width: 50px;
}

.axis line,
.axis path {
    fill: none;
    stroke: lightgray;
    shape-rendering: crispEdges;
}

.axis text {
    fill: grey;
}

fieldset {
    border-width: 0;
}